@charset "utf-8";

:root{
    --destaque: #63A8A3;
    --fundo: #C9FFFB;
    --detalhe: #A8F5EE;
    --conteudo: #A86E52;
    --contDetalhe: #F5C2A9;
}
body{
    background-color: var(--fundo);
    padding: 0;
    margin: 0;
}
header{
    background-color:var(--detalhe);
    padding: 20px;
    margin-bottom: 30px;
}
h1{
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--conteudo);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.637);
    margin: 0;
}
header p{
    font-size: 1.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--contDetalhe);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.534);
    margin: 0;
}

#calculadora{
    background-color: var(--conteudo);
    min-width: 100px;
    max-width: 300px;
    height: 600px;
    margin: auto;
    padding: 15px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.397);
    border-radius: 5px;
}
#visor{
    height: 85px;
    max-width: 100%;
    text-align: right;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.644);
}
#teclado{
    height: 400px;
    margin: 20px 0 0 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: space-around;
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.158);
}
.botao{
    width: 30%;
    height: 50px;
    font-size: 1em;
    background-color: var(--contDetalhe);
    border: none;
    border-radius: 3px;
    box-shadow: 1px 2px 1px 1px #f5c2a94d;
}
.botao:hover{
    background-color: hsl(20, 79%, 83%);
    cursor: pointer;
}
.botao:active{
    background-color: hsl(20, 79%, 90%);
    box-shadow: none;
}
.numeral{
    color: var(--conteudo);
    text-shadow: 1px 1px black;
    font-size: 1.5em;
    font-weight: bold;
}